{% extends "layout.html" %}
{% block content %}
    <div class="content-section"> 
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Identify Patient</legend>
                <div class="form-group">
                    {{form.patientID.label(class="form-control-label")}}
                    {{form.patientID(class ="form-control form-control-lg")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{form.next(class="btn btn-outline-info")}}
            </div>
            
        </form>
    </div>
{% endblock content%}